

body{
    background-image: url("images/80-desktop-wallpapers-hd-4k-صور-خلفيات-كمبيوتر-سطح-المكتب.jpg");
    width: 50px;

}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    background: rgba(99, 90, 90, 0.5);
    border-radius: 15px;
    box-sizing: border-box;
}
img{
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 118px;
}
h2{
    color: #fff;
    text-align: center;
    margin-top: 110px;
}
input[type="text"],[type="password"]{
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #ffd6d6;
    background: none;
    padding: 5px;
    color: #fff;
}
input[type="text"]{
    top: 140px;
    left: 50px;
}
[type="password"]{
    top: 210px;
    left: 50px;
}
p{
    margin-top: 200px;
    text-align: center;
}
.vcv{
    margin-top: 110px;
    position: absolute;
    outline: none;
    border: none;
    width: 250px;
    height: 35px;
    border-bottom: 2px solid #0a0a0a ;
    background: none;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
    text-align: center;
    border-radius: 25px;
    text-align: 47px;
    margin-left: 50px;
}
p{
    color: #fff;
    font-size: 18px;
}

